.musicEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    margin: 10px;
}

a {
    text-decoration: none;
}

.title {
    font-weight: bold;
}
p {
    padding: 5;
    margin: 5px;
}