<!DOCTYPE html>
<html>
    <head>
        {% block head %} {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <header>
                {% block header %} {% endblock %}
                <hr>
                <nav>
                    <a href="{{ nav['home'] }}">Home</a>
                    <a href="{{ nav['add'] }}">Add New</a>
                    <a href="{{ nav['search'] }}">Search</a>
                    <a href="{{ nav['delete'] }}">Delete</a>
                </nav>
            </header>
            <hr>
            <main>
                {% block content %} {% endblock %}
            </main>
            <hr>
            <footer>
                <p>
                    &copy; 2022. Shared under the GPL3 license. Source code <a 
                    href="https://github.com/software-students-fall2022/web-app-exercise-team-6-1"
                    >available on Github</a>.
                </p>
            </footer>
    </div>
  </body>
</html>
