<h2><u>{{doc['title']}}</u></h2>

<h3> Writers:</h3>
    {%for writer in doc['writers']%}
    <li> {{writer}}</li>
    {% endfor %}

<h3> Producers:</h3>
    {% for producer in doc['producers']%}
    <li> {{producer}}</li>
    {% endfor %}

<h3> Genres:</h3>
    {% for genre in doc['genres']%}
    <li> {{genre}}</li>
    {% endfor %}


<h3> Release Date: {{doc['releaseDate']}}</h3>

<h3> Duration: {{doc['duration']}}</h3>

<h3> Links:</h3>
    {% for link in doc['links']%}
    <li><a href="{{link}}" target="_blank">{{link}}</a></li>
    {% endfor %}

<h3> Lyrics </h3> 
<p>{{doc['lyrics']}}</p>
