{% extends '_base.html' %}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block header %}
    <h1>Welcome to the Music Record App!</h1>
{% endblock %}

{% block content %}
    <p>
        We store collections of music records for all users to browse through.
    </p>
    <p>
        You can help this app grow by adding new music records.
    </p>
    <p>
        You can also help this app by updating music records that are inaccurate.
    </p>
    <p>
        Make sure to have a valid reason for deleting music records.
    </p>
{% endblock %}
