{% extends '_base.html' %}

{% block head %}
    <title>Search Music Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block header %}
    <h1>Search Music Records</h1>
{% endblock %}

{% block content %}
    <!-- <p>
        In progress. This page should show a list of music records.
        {% block results %} {% endblock %}
    </p> -->
    
    {% for doc in docs%}

        <p class="record">
            <a href="{{ url_for('musicRecord') }}">{{doc.title}} by {{ doc.writers }}</a>.
        </p>    

    {% endfor %}
    
    <!-- <p>
        Then, when the user clicks on a record, we go to this 
        <a href="{{ url_for('musicRecord') }}">link</a>.
    </p> -->
{% endblock %}